/* Generals */

*
	position: relative


body,
html
	min-height: 100vh


#__nuxt
	min-height: 100vh
	display: flex
	flex-direction: column


/* Pretty Scrollbars */

.pretty-scrolls
	&::-webkit-scrollbar
		width: 0.5rem
		height: 0.5rem


	&::-webkit-scrollbar-track
		background: $gray-100


	&::-webkit-scrollbar-thumb
		background: $gray-300


	&::-webkit-scrollbar-thumb:hover
		background: $gray-400


	&::-webkit-scrollbar-thumb:active
		background: $gray-500


	&::-webkit-scrollbar-corner
		background: $gray-100


	&::-webkit-scrollbar-button
		background: $gray-100


	&::-webkit-scrollbar-button:start:decrement
		height: 0


	&::-webkit-scrollbar-button:end:increment
		height: 0


	&::-webkit-scrollbar-button:horizontal:start:decrement
		width: 0


	&::-webkit-scrollbar-button:horizontal:end:increment
		width: 0


.alert
	border: 0


	.btn-close
		font-size: 0.75rem